<ion-view title="Check order data">
    <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-ios-list-outline button-clear" href="#/main"> Main</a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="card">

            <div class="item item-text-wrap row">
                <div class="col col-75">
                    Client
                </div>
                <div class="col">
                    <i class="icon ion-checkmark-round balanced" ng-show="user.id != null"></i>
                    <i class="icon ion-close-circled assertive" ng-show="user.id == null"></i>
                </div>
            </div>
            <div class="item item-text-wrap row">
                <div class="col col-75">
                    Dates
                </div>
                <div class="col">
                    <i class="icon ion-checkmark-round balanced" ng-show="dates.start != null && dates.end !=null && dates.days != null && dates.days != 0"></i>
                    <i class="icon ion-close-circled assertive" ng-show="dates.start == null || dates.end ==null || dates.days == null || dates.days == 0"></i>
                </div>

            </div>
            <div class="item item-text-wrap row">
                <div class="col col-75">
                    Equipments
                </div>
                <div class="col">
                    <i class="icon ion-checkmark-round balanced" ng-show="Equipments.length"></i>
                    <i class="icon ion-close-circled assertive" ng-show="!Equipments.length"></i>
                </div>

            </div>

        </div>
        
    </ion-content>
    <ion-footer-bar class="bar-calm">
        <div class="button-bar">

            <a class="button icon ion-ios-download-outline button-clear" ng-disabled="!user.id || !Equipments.length || !dates.end || !dates.start||!dates.TimeEnd||!dates.TimeStart " ng-click="saveOrder()"> Save order</a>
        </div>
    </ion-footer-bar>
</ion-view>
