
<ion-view  cache-view="false" title="Tabs Controller">
    
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Client Info" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/create/client">
            <ion-nav-view name="client"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Date Info" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/create/date">
            <ion-nav-view name="date"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Equipments" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/create/equipment">
            <ion-nav-view name="equipment"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Order Save" icon-off="ion-ios-download-outline" icon-on="ion-ios-download" href="#/create/check">
            <ion-nav-view name="check"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

