<ion-view cache-view="false" title="Edit Order">
   
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-list-outline button-clear" href="#/main"> Main</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-download-outline button-clear" ng-click="GoBack()"> Save</a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header ">
       
        
        <div class="card" ng-show="hide == false" ng-hide="hide == true">
         
            <div class="item item-avatar item-divider" >
                <i class="icon ion-ios-information-outline"></i>
                <h2>Order # {{orderId}}</h2>
                <p>Information</p>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col"><b><small>Client:</small></b></div>
                    <div class="col col-75">{{OrderInfo.clientName}}</div>

                </div>
                <div class="row">
                    <div class="col"><b><small>Start:</small></b></div>
                    <div class="col col-75">{{OrderInfo.pickupTime}}</div>

                </div>
                <div class="row">
                    <div class="col"><b><small>End:</small></b></div>
                    <div class="col col-75">{{OrderInfo.returnTime}}</div>
                </div>
                <div class="row">
                    <div class="col"><b><small>Project:</small></b></div>
                    <div class="col col-75">{{OrderInfo.projectName}}</div>
                </div>
                <div class="row">
                    <div class="col"><b><small>Creator:</small></b></div>
                    <div class="col col-75">{{OrderInfo.creator}}</div>
                </div>
                <div class="row">
                    <div class="col"><b><small>Days:</small></b></div>
                    <div class="col col-75">{{OrderInfo.days}}</div>
                </div>
                <div class="row">
                    <div class="col"><b><small>Total:</small></b></div>
                    <div class="col col-75">{{OrderInfo.total}}</div>
                </div>

            </div>
        </div>
        <div ng-show="hide == true" ng-hide="hide == false">
            <label class="item item-input" sync-focus-with="isFocused">
                <span class="input-label">Barcode</span>
                <input type="number" name="barcode" ng-model="check.value" my-enter="checkBarcode()">
            </label>
        </div>
        
        
            <div class="card">
                <div class="item item-avatar item-divider">
                    <i class="icon ion-ios-list-outline"></i>
                    <h2>Order</h2>
                    <p>Equipment list</p>
                </div>
                <ion-list class="item-text-wrap" ng-repeat="item in Equipments">
                    <ion-item  ng-click="showActionsheet(item,$index)">
                        <span class="item-note" ng-show="item.check == null && item.isExact == false">ANY</span>
                        <span class="item-note" ng-show="item.check == null && item.isExact == true && OrderInfo.status == 4">{{item.id}}</span>
                        <span class="item-note" ng-show="item.check == null && item.isExact == true && OrderInfo.status == 2">Exact</span>
                        <i class="item-note icon ion-checkmark-round balanced" ng-show="item.check == true"></i>
                        {{item.name}}
                    </ion-item>
                </ion-list>
            </div>

    </ion-content>
    <ion-footer-bar class="">

        <div class="button-bar" ng-show="OrderInfo.status == 1" ng-hide="OrderInfo.status != 1">
            <a class="button icon-right  button-assertive ion-ios-close-outline" ng-click="saveOrder('Rejected')">Rejected Order</a>
            <a class="button icon-right  button-balanced ion-ios-arrow-forward " ng-click="saveOrder('Accepted')">Accepted Order</a>
        </div>
        <div class="button-bar" ng-show="OrderInfo.status == 2" ng-hide="OrderInfo.status != 2">
            <a class="button icon-right  button-balanced ion-ios-checkmark-outline" ng-click="checkOrder()">Check order</a>
            <a class="button icon-right  button-calm ion-ios-arrow-forward "  ng-click="saveOrder('Open')">Open Order</a>
        </div>
        <div class="button-bar" ng-show="OrderInfo.status == 4" ng-hide="OrderInfo.status != 4">
            <a class="button icon-right  button-balanced ion-ios-checkmark-outline" ng-click="checkOrder()">Check order</a>
            <a class="button icon-right  button-positive ion-ios-arrow-forward " ng-click="saveOrder('Closed')">Close Order</a>
        </div>

    </ion-footer-bar>

    <ion-footer-bar  ng-show="hide == true" ng-hide="hide == false">
        <div class="button-bar" >
            <a class="button icon-right  button-assertive ion-ios-close-outline" ng-click="hide = false;isFocused = false;">Cancel</a>
            <a class="button icon-right  button-positive ion-ios-checkmark-outline "  ng-click="hide = false;isFocused = false;">Done </a>
            
        </div>
    </ion-footer-bar>
    
</ion-view>